@import "./assets/styles/normalize.css";

body {
  background-color: #efecf9;
  padding: 20px;
  --text-color: #000;
  --purple-color: #6b46c1;
  --required-color: #d12e2c;
  --gap-input-title-content: 1.5rem;
  --border-color: #e0e0e0;
  color: var(--text-color);
}
